# Main Application Dependencies
dash
dash-bootstrap-components
plotly
pandas
numpy
ta
python-dotenv
requests
websocket-client
CoinGeckoAPI

# Server & Async
gunicorn
eventlet

# API Clients & Utilities
CoinbaseAPI
PyGithub
pytz
python-dateutil